/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Lato:wght@300&family=Merriweather:ital@0;1&family=Oswald:wght@200;300;400;500;600;700&family=Space+Mono&family=Work+Sans:wght@400;500;800&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {padding: 0; 
    margin: 0; 
    box-sizing:border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family:'EB Garamond', serif;
}
/* SciAIMed logo description header*/
h3 {
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: normal;
    padding-bottom: 10px;
  }

/* Header */
/* Header background*/
header {
    background-color:black;
    position: relative;
    max-height: 20vh;
  }
  .celticknot {
    margin-top: 1%;
    margin-left: 5%;
  }
  /* Style the navigation menue with icons from W3 school*/
.navbar {
    width: auto;
    overflow: auto;
    position: absolute;
    bottom: 0%;
    right:0%;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #569dee65;
  }
  

/* Main */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
        flex: 1 0 auto;
}

/* Clinical Development Introduction section*/
#Home {
  width: 100%;
  background: url("../../assets/images/MedSci-614.png") no-repeat center center/cover;
}
 h1{
  width: 90%;
  text-align:center;
  }

h2 {
  width: 90%;
  font-weight: bold;
  text-align:center;
}

.introduction {
  width: 80%;
  background-color: rgba(230, 244, 254, 0.6);
  padding: 10px 10px; 
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 25px;
}
/* Services section  according */
#Services {
    background-color: rgb(150, 193, 242);
    width: 100%;
  }
.container-list {
  display:flex;
  justify-content:space-around;
  align-items:center;
  width: 100%;
  
}

.development-left {
  font-size: 20px;
  flex: 1;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
 
  }

.clinical-right {
  font-size: 20px;
  flex: 1;
  margin-top:50px;
  margin-bottom: 20px;
}




/* Add responsiveness for Home page with smaller letters for screens less than 920 pixels */
@media screen and (max-width: 920px) {
    .title h1 {
     font-size:
    }
   }
   
   
   /* Add responsiveness  for navbar form W3school- will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
   @media screen and (max-width: 500px) {
   .navbar a {
     float: none;
     display: block;
     padding: 3px;
     margin-bottom: 5px;
     margin-right: 10px;}
     
     header { 
     min-height: 120

/* Footer */
footer {
    background-color:beige;
}